/**********Main Rules**********/
/*import url('http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900');
@font-face {
  font-family: 'entypo';
  font-style: normal;
  font-weight: normal;
  src: url('http://weloveiconfonts.com/api/fonts/entypo/entypo.eot');
  src: url('http://weloveiconfonts.com/api/fonts/entypo/entypo.eot?#iefix') format('eot'), url('http://weloveiconfonts.com/api/fonts/entypo/entypo.woff') format('woff'), url('http://weloveiconfonts.com/api/fonts/entypo/entypo.ttf') format('truetype'), url('http://weloveiconfonts.com/api/fonts/entypo/entypo.svg#entypo') format('svg');
}*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900|Dosis:300,400,600,700,800|Droid+Sans:400,700|Lato:300,400,700,900|PT+Sans:400,700|Ubuntu:300,400,500,700|Open+Sans:400,300,600,700|Roboto:400,300,500,700,900|Roboto+Condensed:400,300,700|Open+Sans+Condensed:300,700|Play:400,700|Maven+Pro:400,500,700,900&subset=latin,latin-ext);
html {
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: 300;
}
body{
    background-color: #F4F4F4;
    font-size: 16px;
    background-color: #FFF;
}
.asterisk{
    font-size: 30px;
    position: absolute;
    right: 30px;
    top:8px;
    color:#D20707;
}
.message{
    padding: 10px;
    background-color: #FFF;
    margin: 10px 0;
    border-left: 5px solid #080;
}
.popup {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  color: white;
  font-size: 0.9rem;
  line-height: 0.9rem;
  padding: 5px 10px;
  position: absolute;
  text-align: center;
  z-index: 999;
  transition:all .3s ease-in-out; 
}
.popup:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-top-color: rgba(0, 0, 0, 0.8);
  border-width: 5px;
  margin-left: -5px;
}
/**********End Main Rules**********/
/*********Bootstrap Rules*************/
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{    
    margin-left: 100px;
}
 .selectboxit-container{
        width: 70%;
}
 .form-inline .form-control{
        width: 52px;
}

.form-inline .form-control{
        width: 91px;
    margin: 0px 1px;
}
/**********************/
/**********start Header Rules**********/
.Logo_image{
    position: absolute;
    width: 72px;
    float: right;
}
.rad-navigation {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 0px 9px 4px rgba(0, 0, 0, 0.1), 0 -5px 2px 2px rgba(0, 0, 0, 0.1);
    background: white;
    z-index: 10000;
    text-align: center;
    width:1px;
}
.rad-navigation ul {
    margin-bottom: 0;
}
.rad-logo-container {
    width: 225px;
    text-align: center;
    height: 50px;
    float: left;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-top: 6px;
}
.rad-logo{
    font-size: 24px;
}
.rad-logo-container .fa-bars{
    margin: 9px 4px;
    font-size: 30px;
}
.rad-logo-container.rad-nav-min {
    -webkit-transform: translate3d(-180px, 0, 0);
    transform: translate3d(-180px, 0, 0);
}
.rad-logo-container.rad-nav-min .rad-logo {
    opacity: 0;
}
.rad-logo-container.rad-nav-min + .rad-logo-hidden {
    opacity: 1;
    visibility: visible;
}
.rad-top-nav-container {
    float: right;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.rad-sidebar {
    z-index: 99999;
    position: fixed;
    font-weight: 600;
    background: white !important;
    width: 225px;
    height: 100vh;
    top: 50px;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 2px 4px 8px rgba(0, 0, 0, 0.28);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.rad-sidebar li {
    text-align: left;
    height: 45px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .025em;
    line-height: 1.5;
}
.rad-sidebar li a {
    text-decoration: none;
    display: block;
    color: #515d6e;
}
.rad-sidebar li a i {
    position: relative;
    width: 45px;
    line-height: 45px;
    text-align: center;
}
.rad-sidebar li a i:before {
    z-index: 10;
    position: relative;
}
.rad-sidebar li a > span {
    display: inline-block;
    visibility: visible;
    opacity: 1;
    padding-left: 10px;
    -webkit-transition: all .2s ease-in-out .2s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    text-transform: uppercase;
    font-size: 11px;
}
.rad-sidebar li:hover {
    background: #f2f2f2;
}
.rad-sidebar li:hover .icon-bg {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.rad-sidebar li:hover a > i {
    color: white;
}

.rad-sidebar.rad-nav-min {
    width: 45px !important;
}
.rad-sidebar.rad-nav-min .rad-sidebar-item {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .1s linear;
    -webkit-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0);
}
.rad-sidebar.rad-nav-min .icon-bg {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.rad-sidebar.rad-nav-min i {
    border: 0px;
    color: white;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.rad-sidebar.rad-nav-min li:hover .icon-bg {
    -webkit-transform: scale(1.2, 1);
    transform: scale(1.2, 1);
}
.icon-bg {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    -webkit-transform: translate3d(-43px, 0, 0);
    transform: translate3d(-43px, 0, 0);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.rad-bg-success {
    background: #23AE89;
}
.rad-bg-danger {
    background: #E94B3B;
}
.rad-bg-primary {
    background: #1C7EBB;
}
.rad-bg-warning {
    background: #F98E33;
}
.rad-bg-warning1 {
    background: #2980b9;
}
.rad-bg-violet {
    background: #6A55C2;
}
.rad-bg-l{
    background: #1abc9c;

}
.rad-bg-c{
    background: #f39c12;

}
.rad-bg-s{
    background: #e67e22;

}
.rad-bg-a{
    background: #34495e;

}
.rad-bg-lo{
    background: #95a5a6;

}
.rad-bg-ml{
        background: #3498db;

}
.rad-bg-qus{
        background: #f1c40f;

}
.rad-bg-rp{
        background: #1abc9c;

}
/**********End Header Rules**********/

/**********Login setting**********/
/*svg colors */

.cls-1 {
    fill: #e8f3e2;
}

.cls-2 {
    fill: #faf4a8;
}

.cls-3 {
    fill: #cac277;
}

.cls-4 {
    fill: #f3ca76;
}

.cls-5 {
    fill: #fdf387;
}

.cls-6 {
    fill: #c2e4d8;
}

.cls-7 {
    fill: #aedccd;
}

.cls-8 {
    opacity: 0.5;
}

.cls-10,
.cls-16,
.cls-17,
.cls-22,
.cls-32,
.cls-38,
.cls-39,
.cls-48,
.cls-50,
.cls-56,
.cls-9 {
    fill: none;
}

.cls-16,
.cls-17,
.cls-9 {
    stroke: #dab6c4;
}

.cls-10,
.cls-18,
.cls-19,
.cls-32,
.cls-38,
.cls-39,
.cls-48,
.cls-50,
.cls-56,
.cls-9 {
    stroke-miterlimit: 10;
}

.cls-10 {
    stroke: #e6d0d8;
}

.cls-11 {
    fill: #e7d0d8;
}

.cls-12 {
    fill: #dab6c4;
}

.cls-13,
.cls-18 {
    fill: #b5d780;
}

.cls-14 {
    fill: #9cb17e;
}

.cls-15 {
    fill: #f16a83;
}

.cls-16,
.cls-17 {
    stroke-linejoin: bevel;
    stroke-width: 2px;
}

.cls-17 {
    stroke-dasharray: 14.92 4.97;
}

.cls-18 {
    stroke: #b5d780;
}

.cls-18,
.cls-19 {
    stroke-width: 0.25px;
}

.cls-19,
.cls-21 {
    fill: #aec58b;
}

.cls-19 {
    stroke: #aec58b;
}

.cls-20 {
    fill: #7d8a71;
}

.cls-23 {
    fill: #f69eac;
}

.cls-24 {
    fill: #c38f98;
}

.cls-25 {
    fill: #816872;
}

.cls-26 {
    fill: #6d6066;
}

.cls-27 {
    fill: #806871;
}

.cls-28 {
    fill: #dbbf53;
}

.cls-29 {
    fill: #bfcf30;
}

.cls-30 {
    fill: #b29ea7;
}

.cls-31 {
    fill: #8d6876;
}

.cls-32,
.cls-48 {
    stroke: #8d6876;
}

.cls-32 {
    opacity: 0.6;
}

.cls-33 {
    fill: #d2a849;
}

.cls-34 {
    fill: #e0b24d;
}

.cls-35 {
    fill: #bf6872;
}

.cls-36 {
    fill: #f0bf53;
}

.cls-37 {
    fill: #c6c49e;
}

.cls-38 {
    stroke: #f69eac;
}

.cls-39 {
    stroke: #c38f98;
}

.cls-40 {
    fill: #c5c072;
}

.cls-41 {
    fill: #fdf164;
}

.cls-42 {
    fill: #dbedd1;
}

.cls-43 {
    fill: #b2beaf;
}

.cls-44 {
    fill: #feeb19;
}

.cls-45 {
    fill: #9998c8;
}

.cls-46 {
    fill: #fef5b1;
}

.cls-47 {
    fill: #fac1c4;
}

.cls-49 {
    fill: #bfa264;
}

.cls-50 {
    stroke: #806871;
}

.cls-51 {
    fill: #ce9d2b;
}

.cls-52 {
    fill: #c06975;
}

.cls-53 {
    fill: #e0efd3;
}

.cls-54 {
    fill: #b9e1d2;
}

.cls-55 {
    fill: #fff;
}

.cls-56 {
    stroke: #231f20;
}

.cls-57 {
    fill: #ffefb8;
}

.cls-58 {
    fill: #dfedc9;
}

.cls-59 {
    fill: #f6d695;
}

.cls-60 {
    fill: #fcd6d9;
}

.cls-61 {
    fill: #a48691;
}

.cls-62 {
    fill: #eddee3;
}

.cls-63 {
    fill: #fcf8ca;
}

.cls-64 {
    fill: #b8b2d8;
}

.cls-65 {
    fill: #eff7ea;
}

.cls-66 {
    fill: #fef7b7;
}

.cls-67 {
    fill: #fee9a0;
}

.cls-99 {
    fill: #ddd162;
}

#needles {
    -webkit-animation: rotate 5s linear infinite;
    animation: rotate 5s linear infinite;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    transform-box: fill-box;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg)
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg)
    }
}

#arms {
    -webkit-animation: rotate-out 5s linear infinite;
    animation: rotate-out 5s linear infinite;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    transform-box: fill-box;
}

@-webkit-keyframes rotate-out {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }
}

@keyframes rotate-out {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }
}

#cabins {
    -webkit-animation: cabin-transit 5s linear infinite;
    animation: cabin-transit 5s linear infinite;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    transform-box: fill-box;
}

@-webkit-keyframes cabin-transit {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }
}

@keyframes cabin-transit {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }
}

.cabin {
    -webkit-animation: cabin-transform 5s linear infinite;
    animation: cabin-transform 5s linear infinite;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    transform-box: fill-box;
}

@-webkit-keyframes cabin-transform {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg)
    }
}

@keyframes cabin-transform {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg)
    }
}

#balloon,
#bunch_of_balloons1,
#bunch_of_balloons {
    -webkit-animation: balloon-anim 5s linear infinite;
    animation: balloon-anim 5s linear infinite;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    transform-box: fill-box;
}

@-webkit-keyframes balloon-anim {
    0% {
        -webkit-transform: rotate(0deg) translate(0);
        transform: rotate(0deg) translate(0)
    }
    25% {
        -webkit-transform: rotate(2deg) translateY(5px);
        transform: rotate(2deg) translateY(5px)
    }
    50% {
        -webkit-transform: rotate(-2deg) translateY(-5px);
        transform: rotate(-2deg) translateY(-5px)
    }
    75% {
        -webkit-transform: rotate(-2deg) translateY(5px);
        transform: rotate(-2deg) translateY(5px)
    }
    100% {
        -webkit-transform: rotate(0deg) translate(0);
        transform: rotate(0deg) translate(0)
    }
}

@keyframes balloon-anim {
    0% {
        -webkit-transform: rotate(0deg) translate(0);
        transform: rotate(0deg) translate(0)
    }
    25% {
        -webkit-transform: rotate(2deg) translateY(5px);
        transform: rotate(2deg) translateY(5px)
    }
    50% {
        -webkit-transform: rotate(-2deg) translateY(-5px);
        transform: rotate(-2deg) translateY(-5px)
    }
    75% {
        -webkit-transform: rotate(-2deg) translateY(5px);
        transform: rotate(-2deg) translateY(5px)
    }
    100% {
        -webkit-transform: rotate(0deg) translate(0);
        transform: rotate(0deg) translate(0)
    }
}

#clouds-front {
    -webkit-animation: cloud-transit infinite ease-in-out 5s;
    animation: cloud-transit infinite ease-in-out 5s;
}

#clouds-back {
    -webkit-animation: cloud-transit-2 infinite ease-out 5s;
    animation: cloud-transit-2 infinite ease-out 5s;
}

@-webkit-keyframes cloud-transit {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-5%);
        transform: translateX(-5%);
        opacity: 0;
    }
}

@keyframes cloud-transit {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-5%);
        transform: translateX(-5%);
        opacity: 0;
    }
}

@-webkit-keyframes cloud-transit-2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(5%);
        transform: translateX(5%);
    }
}

@keyframes cloud-transit-2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(5%);
        transform: translateX(5%);
    }
}
.login{
    width:300px;
    margin: -800px auto;
    position: relative;
}


.login input + i.fa {
    color: #fff;
    font-size: 1em;
    position: absolute;
    margin-top: -47px;
    opacity: 0;
    left: 0;
    transition: all 0.1s ease-in;
}
.login input:focus {
    outline: none;
    color: #444;
    border-color: #2196F3;
    border-left-width: 35px;
}
.login input:focus + i.fa {
    opacity: 1;
    left: 12px;
    transition: all 0.25s ease-out;
}
.login input{
    margin-top: 10px;
}
.login h4{
    color:#888;
}
.login input{
    margin-bottom: 10px;
}
.login .form-control{
    background-color: #EAEAEA
}
.login .btn{
    background-color: #008dde
}
.form-control{
    position: relative;
}
/**********End Login setting**********/
/*********Start bootstrap layout*************/
.navbar {
    border-radius:0;
    margin-bottom:0;
}
.nav>li>a,
.navbar-brand{
    padding: 15px 12px;
}
.navbar-brand{
    font-size: 1em;
}
.navbar-inverse .navbar-nav >.open>a,
.navbar-inverse .navbar-nav >.open>a:focus, 
.navbar-inverse .navbar-nav >.open>a:hover,
.dropdown-menu{
    background-color: #3598db;

}

.dropdown-menu{
    min-width:180px;
    padding: 0;
    font-size: 1em;
    border:none;
    border-radius: 0;
}
.dropdown-menu>li>a{
    color:#FFF;
    padding: 10px 15px;
}
.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover{
    background-color: #95a5a6;
}

/*********End  bootstrap layout*************/
/*********  Dash layout*************/
.home-stat .stat{
    padding: 20px;
    font-size: 15px;
    color:#FFF;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.home-stat .stat i{
    position: absolute;
    font-size: 80px;
    top: 35px;
    left: 30px;
}
.home-stat .stat .info{
    float: right;
}
.home-stat .stat a{
    color:#FFF;
}
.home-stat .stat a:hover{
    text-decoration: none;
}
.home-stat .stat span{
    display: block;
    font-size: 60px;

}
.home-stat .st-members{
    background-color: #3498db;
}
.home-stat .st-Comments{
    background-color: #8e44ad;
}
.home-stat .st-Pending{
    background-color: #c0392b;
}
.home-stat .st-items{
    background-color: #d35400;
}
.latest{
    margin-top: 30px;
}

.latest .panel-body {
    padding: 15px;
    overflow: scroll;
    max-height: 301px;}
.latest .toggle-info{
    color: #999;
}
.latest .toggle-info:hover{
    color: #444;
    cursor: pointer;
}
.activate{
    margin-left: 5px;
}
.latest-user{
    margin-bottom: 0;
}
.latest-user li{
    padding: 10px 0;
    overflow: hidden;
}
.latest-user li:nth-child(odd){
    background-color: #EEE;
}

.latest-user .btn-success,.latest-user .btn-info{
    padding: 2px 16px;
    color: #FFF;
}
.latest-user .btn-info{
    margin-right: 4px;
}
.latest .comment-box{
    margin: 5px 0 10px;
}
.latest .comment-box .member-n,
.latest .comment-box .member-c{
    float: left;
}
.latest .comment-box .member-n{
    width: 80px;
    text-align: center;
    margin-right: 20px;
    position: relative;
    top: 10px;
    color:  #3498db;
    font-weight: bolder;

}
.latest .comment-box .member-c{
    width: calc(100% - 100px);
    background-color: #EFEFEF;
    padding: 10px;
    position: relative;
}
.latest .comment-box .member-c:before{
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: -28px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #EFEFEF transparent transparent;
    border-width: 15px;
}
.latest .comment-box .btn{
    margin-left: 131px;
    margin-right: -123px;        
}

/*********End  Dash layout*************/

/********* Start MEMEBERS layout*************/
h1{
    font-size: 55px;
    margin:40px 0;
    font-weight: bold;
    color:#666;
}
.show-pass{
    position: absolute;
    top: 6px;
    right: -30px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    vertical-align: middle;
}
.main-table{
    width: 100%;
    -webkit-box-shadow: 0 3px 10px #ccc;
    -moz-box-shadow: 0 3px 10px #ccc;
    -o-box-shadow: 0 3px 10px #ccc;
    box-shadow: 0 3px 10px #ccc;
}
 .p_des{
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main-table td{

    background-color: #fff;
}
.main-table TR:first-child td{
    background-color: #333;
    color: #fff;
    text-align: center;
}
.main-table .btn{
    padding: 3px 10px;

}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 8px 12px;
    margin: -12px 0px;
}

/*********End MEMEBERS layout*************/
/********* Start Categories layout*************/
.categories1 .panel{
    margin-bottom:  0;
}
.categories1 .panel-heading{
    color: #959595;
    font-weight: bold;
}
.categories1 .panel-heading i{
    position: relative;
    top: 1px;
    margin-right: 3px;
}
.categories1 .panel-body{
    padding: 0;
}
.categories1 .categ{
    padding: 15px;
    position: relative;
    overflow: hidden;
}
.categories1 .add-catrgo {
    margin-bottom: 30px;
    margin-top: 8px;
}
.categories1  .child-cats{
    margin: 0 ;
}
.categories1  .child-head{
    margin: 15px 0 10px;
    font-weight: bold;
    font-size: 16px;
    color:#22ab79;
}
.categories1  .child-cats li{
    margin-left:15px;
}

.categories1  .child-cats li .child-delete1{
    color :#337ab7;
    font-weight: bold;
}
.categories1 .show-delete{
    color:red;
    display: none;
}

.categories1  .child-cats li:before{
    content: "- "
}
.categories1 .categ:hover{
    background-color: #EEE;
}
.categories1 .categ:hover .hidden-buttons{
    right: 10px;
}
.categories1 .categ .hidden-buttons{
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: absolute;
    top:40px;
    right: -130px;
}
.categories1 .option a{
    color: #888;
    text-decoration: none;
}
.categories1 .option span{
    color: #888;
    cursor: pointer;
}
.categories1 .option .active1{
    color: #F00;
}
.categ .btn-primary{
    padding: 1px 12px;
}
.categories1 .categ .hidden-buttons a{
    margin-right: 5px;
}
.categories1 hr{
    margin-top: 0px;
    margin-bottom: 0px;
}
.categories1 .categ:last-of-type ~hr{
    display: none;

}

.categories1 .categ h3 {
    cursor: pointer;
    margin: 0;
    font-weight: bold;
    color: #6A6A6A;
}
.categories1 .categ .full-v p{
    margin: 10px 0;
    color: #707070;
}
.categories1 .categ .Visbility,
.categories1 .categ .comment,
.categories1 .categ .advertise{
    background-color: #c0392b;
    color: #FFF;
    padding: 4px 6px;
    margin-right: 6px;
    border-radius: 5px;
}
.categories1 .categ .comment{
    background-color: #e74c3c;
}
.categories1 .categ .advertise{
    background-color: #d35400;
}
/********* End MEMEBERS layout*************/
/***********Start comment layout***********/
.com-div .com-in:focus{

}
/************End layout**********/
/****Statistics layout*******/
.statistics_continer h3{
    margin: 27px 58px;
    color: #948d8d;
    font-size: 30px;
    font-weight: bold;
}
.statistics_continer .usr_p,
.statistics_continer .itm_p,
.statistics_continer .cat_p{
    margin: 1px 77px;
    line-height: 1.5;
    font-weight: bold;
    font-size: 19px;
}
.statistics_continer .usr_p{
    color: #005ebc;

}
.statistics_continer .itm_p{
    color:#ff6868;
}
.statistics_continer .cat_p{
    color: #61a9f3;
}
.statistics_continer img{
    margin: 1 51px;
}
.statistics_continer .img_ITM{
    margin: -8px 32px;
}
.statistics_continer .usr_list,
.statistics_continer .itm_list,
.statistics_continer .cat_list{

    padding: 0;
    margin-left: 168px;
    margin-top: -22px;
    display: inline-block;
}
.statistics_continer .usr_list
{
    margin-left: 123px;

}

.statistics_continer ul li{
    padding: 10px;
}
.statistics_continer ul li:nth-child(odd){
    background-color: #EEE;
}
.statistics_continer ul li span{
    display: inline-block;
    width:231px;
    font-weight: bold;
}

span.title {
    color: #fff;
    font-size: 1.5em;
    float: left;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.row .col-xs-4 {
    padding: 0px;
    margin: 0px;
}
section.bubble {
    background-color: #13b177;
}
section.bubble header {
    text-transform: uppercase;
    color: #fff;
    font-weight: 100;
    padding: 5px 56px;
    font-size: 1.5em;
}
section.bubble article {
    position: relative;
    padding: 5px;
}
section.bubble article .inlinebar {
    position: absolute;
    right: 0px;
    bottom: 0px;
    opacity: 1;
}
section.bubble article .inlinebar canvas {
    vertical-align: bottom !important;
    zoom: 0.5;
}
section.bubble article ul.sections {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 0px 46px;
    font-size: 1em;
}
section.bubble article ul.sections li {
    z-index: 999;
}
section.bubble article ul.sections li.list {
    color: #000;
    font-size: 0.85em;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.35);
}
section.bubble article ul.sections li.list ul {
    list-style: none;
    padding: 0px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1em;
}
section.bubble article ul.sections li.big-num {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
}
section.bubble article ul.sections li.big-num h4 {
    color: #fff;
    font-weight: 100;
    font-size: 4em;
    text-align: right;
    margin: 0px -32px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
}
section.bubble article ul.sections li {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
section.bubble footer {
    padding: 5px;
    background-color: #444;
    color: #eee;
    text-transform: uppercase;
    font-weight: 100; 
    margin-top: 0;
}
section.bubble footer ul.sections {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
section.bubble footer ul.sections li {
    list-style: none;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 1 44px;
}
section.bubble footer ul.sections li:last-child {
    text-align: right;
}
section.bubble footer ul.sections li.big-num {
    color: #fff;
    font-weight: 300;
    text-shadow: 1px 1px 0px #000000;
    font-size: 1.5em;
}
@media (min-width: 321px) and (max-width: 720px) {
    html {
        font-size: 0.20em;
    }
    section.bubble header,
    section.bubble footer {
        font-size: 0.75em;
    }
    li.list {
        display: none;
    }
    .big-num {
        font-size: 0.5em;
    }
}
#container {
    min-width: 300px;
    max-width: 100%;
    height: 300px;
    margin: 0px;
    border-bottom: 1px solid #444;
}
/*******************Begin logs style****************/
.info ul{
    padding: 0;
    margin: 0;
}
.info ul li{
    padding: 10px;
}
.info ul li:nth-child(odd){
    background-color: #EEE;
}
.info ul li span{
    display: inline-block;
    width:165px;
    font-weight: bold;
}
/*******************End Begin logs style****************/
/**********start Footer layout****************/
.generic-anchor {
    color: #8DB9ED;
}
.generic-anchor:visited {
    color: #8DB9ED;
}
.generic-anchor:hover {
    color: #ccc;
}

.flex-rw {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

main {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font: 10em "Oswald", sans-serif;
    color: #9b9b9b;
    line-height: 1;
}

footer {
    background: #373737;
    margin-top: 1px;
    width: 100%;
}

.footer-list-top {
    width: 33.333%;
}

.footer-list-top > li {
    text-align: center;
    padding-bottom: 10px;
}

.footer-list-header {
    padding: 10px 0 5px 0;
    color: #fff;
    font: 2.3vw "Oswald", sans-serif;
}

.footer-list-anchor {
    font: 1.3em "Open Sans", sans-serif;
}

.footer-social-section {
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: relative;
    margin-top: 5px;
}

.footer-social-section::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 10px;
    border-top: 1px solid #ccc;
    width: calc(100% - 20px);
}

.footer-social-overlap {
    position: relative;
    z-index: 2;
    background: #373737;
    padding: 0 20px;
}

.footer-social-connect {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font: 3.5em "Oswald", sans-serif;
    color: #fff;
}

.footer-social-small {
    font-size: 0.6em;
    padding: 0px 20px;
}

.footer-social-overlap > a {
    font-size: 3em;
}

.footer-social-overlap > a:not(:first-child) {
    margin-left: 0.38em;
}

.footer-bottom-section {
    width: 100%;
    padding: 10px;
    border-top: 1px solid #ccc;
    margin-top: 10px;
}

.footer-bottom-section > div:first-child {
    margin-right: auto;
}

.footer-bottom-wrapper {
    font-size: 1.5em;
    color: #fff;
}

.footer-address {
    display: inline;
    font-style: normal;
}

@media only screen and (max-width: 768px) {
    .footer-list-header {
        font-size: 2em;
    }

    .footer-list-anchor {
        font-size: 1.1em;
    }

    .footer-social-connect {
        font-size: 2.5em;
    }

    .footer-social-overlap > a {
        font-size: 2.24em;
    }

    .footer-bottom-wrapper {
        font-size: 1.3em;
    }
}
@media only screen and (max-width: 568px) {
    main {
        font-size: 5em;
    }

    .footer-list-top {
        width: 100%;
    }

    .footer-list-header {
        font-size: 3em;
    }

    .footer-list-anchor {
        font-size: 1.5em;
    }

    .footer-social-section {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .footer-social-section::after {
        top: 25%;
    }

    .footer-social-connect {
        margin-bottom: 10px;
        padding: 0 10px;
    }

    .footer-social-overlap {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .footer-social-icons-wrapper {
        width: 100%;
        padding: 0;
    }

    .footer-social-overlap > a:not(:first-child) {
        margin-left: 20px;
    }

    .footer-bottom-section {
        padding: 0 5px 10px 5px;
    }

    .footer-bottom-wrapper {
        text-align: center;
        width: 100%;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 480px) {
    .footer-social-overlap > a {
        margin: auto;
    }

    .footer-social-overlap > a:not(:first-child) {
        margin-left: 0;
    }

    .footer-bottom-rights {
        display: block;
    }
}
@media only screen and (max-width: 320px) {
    .footer-list-header {
        font-size: 2.2em;
    }

    .footer-list-anchor {
        font-size: 1.2em;
    }

    .footer-social-connect {
        font-size: 2.4em;
    }

    .footer-social-overlap > a {
        font-size: 2.24em;
    }

    .footer-bottom-wrapper {
        font-size: 1.3em;
    }
}

/**********END Footer layout****************/
/**********start message member layout****************/
.message_container {
    border: solid 3px #474544;
    margin: 0 auto;
    max-width: 768px;
    position: relative;
    width: 100%;
    background: #F2F3EB;
}
.message_container .asterisk{
    opacity: 0;
}
.message_containerform {
    padding: 37.5px;
    margin: 50px 0;
}


.message_container .icon_wrapper {
    margin: 50px auto 0;
    width: 100%;
}

.message_container .icon {
    display: block;
    fill: #474544;
    height: 50px;
    margin: 0 auto;
    width: 50px;
}

.message_container .email {
    float: right;
    width: 45%;
}

.message_container input[type='text'], [type='email'], select, textarea {
    background: none;
    border: none;
    border-bottom: solid 2px #474544;
    color: #474544;
    font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    text-transform: uppercase;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding-left: 12px;
}

.message_container input[type='text']:focus, [type='email']:focus, textarea:focus {
    outline: none;
    padding: 0 0 0.875em 0;
}

#contact_form .message_cont {
    float: none;
}

.message_container .name {
    float: left;
    width: 45%;
}

.message_container select {
    background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.message_container select::-ms-expand {
    display: none;
}



.message_container .titel {
    width: 100%;
}

.message_container textarea {
    line-height: 150%;
    height: 150px;
    resize: none;
    width: 100%;
}

::-webkit-input-placeholder {
    color: #474544;
}

:-moz-placeholder { 
    color: #474544;
    opacity: 1;
}

::-moz-placeholder {
    color: #474544;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #474544;
}

.message_container #form_button {
    background: none;
    border: solid 2px #474544;
    color: #474544;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
        margin: 1px 33px;
}

.message_container #form_button:hover {
    background: #474544;
    color: #F2F3EB;
}
/**********END  message member layou****************/

/*
.page {
  display: none;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 95%;
  height: 95%;
  margin: auto auto;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  background: transparent;
}
.page .bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 95%;
  margin: auto auto;
  background-image: url("logo.gif");
  background-size: cover;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}
.page .overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
   width: 95%;
  height: 95%;
  margin: auto auto;
  background-color: rgba(0, 233, 233, 0.1);
}

.panel {
  background-color: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.page-home .panel-time,.page-home .panel-time1,.page-home .panel-time2,.page-home .panel-time3  {
  position: absolute;
      margin: 0 28px;
  top: 30px;
  width: 22%;
  -moz-border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px 5px 5px 0px;
}
.page-home .panel-time1 {
    margin: 0 380px ;
    width: 22%;
}
.page-home .panel-time2 {
    margin: 0 701px;
    width: 22%;
}
.page-home .panel-time3 {
    margin: 0 1012px;
    width: 22%;
}
.page-home .panel-time .time {
  font-size: 7.0rem;
  line-height: 8.0rem;
  text-align: center;
  color: #FFF;
}
.page-home .panel-time .date {
  background-color: rgba(0, 233, 233, 0.6);
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  -moz-border-radius: 0px 0px 5px 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px 0px 5px 0px;
}
.page-home .panel-weather {
  position: absolute;
  top: 30px;
  width: 380px;
  right: 0px;
  text-align: center;
  cursor: pointer;
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 0px 0px 5px;
  background-color: rgba(0, 0, 0, 0.3);
}
.page-home .panel-weather .location {
  background-color: rgba(0, 233, 233, 0.6);
  font-size: 1.1rem;
  line-height: 1.5rem;
  -moz-border-radius: 5px 0px 0px 0px;
  -webkit-border-radius: 5px;
  border-radius: 5px 0px 0px 0px;
}
.page-home .panel-weather .icon {
  display: inline-block;
  font-size: 3.0rem;
  line-height: 4.0rem;
  margin-right: 40px;
}
.page-home .panel-weather img {
  width: 150px;
  margin-right: 50px;
}
.page-home .panel-weather .temp {
  display: inline-block;
  vertical-align: top;
  font-size: 5.0rem;
  line-height: 6.5rem;
  font-weight: 400;
  color: #FFF;
}
.page-home .panel-weather .temp .degree {
  font-size: 2rem;
  line-height: 4rem;
  vertical-align: top;
}
.page-home .panel-weather .text {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;
}
.page-home .panel-calendar,.page-home .panel-calendar1,.page-home .panel-calendar2 {
  position: absolute;
  top: 227px;
  width: 380px;
  height: 230px;
  overflow: hidden;
  cursor: pointer;
  background-color: initial;
  color: #FFF;
}
.page-home .panel-calendar1{
    margin: 0 487px;
}
.page-home .panel-calendar2{
    margin: 0 946px;
}
.page-home .panel-calendar .panel-default,.page-home .panel-calendar1 .panel-default,.page-home .panel-calendar2 .panel-default{
    overflow: scroll;
}

.HeaderUserLatest{
    margin: 0 24px;
    color: #FFF;
    background: #4e5a5d;
    font-weight: bold;
        width: 87%;
}
.page-home .panel-calendar ul {
  padding: 0px 20px;

}
.page-home .panel-calendar ul li {
  padding: 0;
  margin: 8px 0px;
  background-color: rgba(0, 0, 0, 0.5);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.page-home .panel-calendar ul li .time, .page-home .panel-calendar ul li .title {
  display: inline-block;
  font-size: 1.0rem;
  line-height: 1.2rem;
  padding: 2px 6px;
}
.page-home .panel-calendar ul li .time {
  width: 120px;
  text-align: center;
  font-weight: 300;
  background-color: rgba(0, 233, 233, 0.6);
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
.page-home .panel-tasks {
  position: absolute;
  top: 210px;
  right: 0px;
  width: 300px;
  height: 140px;
  overflow: hidden;
  cursor: pointer;
  background-color: initial;
  color: #FFF;
}
.page-home .panel-tasks ul {
  padding-right: 30px;
}
.page-home .panel-tasks ul li {
  padding: 0;
  margin: 8px 0px;
  background-color: rgba(0, 0, 0, 0.5);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.page-home .panel-tasks ul li .check, .page-home .panel-tasks ul li .title, .page-home .panel-tasks ul li .plus {
  display: inline-block;
  font-size: 1.0rem;
  line-height: 20px;
  vertical-align: middle;
}
.page-home .panel-tasks ul li .title {
  padding: 2px 6px;
}
.page-home .panel-tasks ul li .check {
  position: relative;
  margin: 0px 0px 0px 2px;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 233, 233, 0.6);
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.page-home .panel-tasks ul li.checked .check:after {
  content: '\f00c';
  position: absolute;
  font-family: FontAwesome;
  font-size: 0.9rem;
  top: -2px;
  left: 1px;
}
.page-home .panel-tasks ul li .plus {
  width: 20px;
  height: 20px;
}
.page-home .panel-tasks ul li.other .title {
  font-style: italic;
  color: #cccccc;
  font-size: 0.9rem;
}
.page-home .panel-functions {
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 20px 0px;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #FFF;
}
.page-home .panel-functions .icon {
  margin: 0px 20px;
  font-size: 45px;
  width: 87px;
  height: 87px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  border: 6px solid rgba(0, 233, 233, 0.6);
  -moz-border-radius: 87px;
  -webkit-border-radius: 87px;
  border-radius: 87px;
}
.page-home .panel-functions .icon .title {
  font-size: 1.0rem;
  text-align: center;
  text-transform: uppercase;
  display: none;
}

.page-weather .bg {
    background: transparent;
}
.page-weather .panel-now {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 400px;
  height: 200px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.page-weather .panel-now .mainInfo {
  text-align: center;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}
.page-weather .panel-now .mainInfo .icon {
  display: block;
  font-size: 4.0rem;
  line-height: 6.0rem;
}
.page-weather .panel-now .mainInfo img {
  display: block;
  margin: auto;
  height: 120px;
  padding-right: 20px;
}
.page-weather .panel-now .mainInfo .temp {
  display: block;
  font-size: 3.0rem;
  line-height: 4.0rem;
  margin-bottom: 6px;
  margin-top: -10px;
}
.page-weather .panel-now .mainInfo .temp .value {
  font-weight: 600;
}
.page-weather .panel-now .mainInfo .temp .separator {
  margin: 0 3px;
  opacity: 0.4;
}
.page-weather .panel-now .mainInfo .temp .degree {
  margin-left: 5px;
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 300;
  vertical-align: top;
}
.page-weather .panel-now .row {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.page-weather .panel-now .row .info {
  flex: 1;
  text-align: center;
}
.page-weather .panel-now .row .info i {
  margin-right: 10px;
  color: #ff6f4d;
}
.page-weather .panel-now .row .info .value {
  font-weight: 600;
}
.page-weather .panel-location {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 200px;
  height: 100px;
  text-align: right;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: initial;
}
.page-weather .panel-location .icon {
  display: inline-block;
  text-align: center;
  font-size: 3.0rem;
  line-height: 4.0rem;
}
.page-weather .panel-location .title {
  display: inline-block;
  text-align: center;
  font-size: 1.0rem;
  line-height: 1.2rem;
  margin-right: 10px;
}
.page-weather .panel-location .title span {
  display: block;
}
.page-weather .panel-today {
  position: absolute;
  top: 220px;
  left: 20px;
  width: 400px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content: space-between;
}
.page-weather .panel-today .box {
  flex: 1;
  height: 100%;
  border-right: 2px solid rgba(0, 0, 0, 0.3);
}
.page-weather .panel-today .box .title {
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 0.9rem;
  line-height: 1.3rem;
  font-weight: 600;
  text-align: center;
  color: #ff6f4d;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
.page-weather .panel-today .box .icon {
  display: block;
  font-size: 2.0rem;
  line-height: 4.0rem;
  font-weight: 400;
  text-align: center;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
}
.page-weather .panel-today .box img {
  display: block;
  height: 50px;
  margin-left: 20px;
}
.page-weather .panel-today .box .temp {
  font-size: 1.1rem;
  line-height: 2.0rem;
  font-weight: 300;
  text-align: center;
}
.page-weather .panel-today .box .temp .value {
  font-weight: 600;
}
.page-weather .panel-today .box .temp .degree {
  margin-left: 2px;
  font-size: 0.7rem;
  line-height: 1.8rem;
  font-weight: 300;
  vertical-align: top;
}
.page-weather .panel-forecast {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content: space-between;
}
.page-weather .panel-forecast .box {
  flex: 1;
  height: 100%;
  border-right: 2px solid rgba(0, 0, 0, 0.3);
}
.page-weather .panel-forecast .box .title {
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  line-height: 2.0rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #ff6f4d;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}
.page-weather .panel-forecast .box .icon {
  display: block;
  font-size: 2.0rem;
  line-height: 4.0rem;
  font-weight: 400;
  text-align: center;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
}
.page-weather .panel-forecast .box img {
  display: block;
  height: 75px;
  margin-left: 5px;
}
.page-weather .panel-forecast .box .temp {
  font-size: 1.8rem;
  line-height: 3.0rem;
  font-weight: 300;
  text-align: center;
}
.page-weather .panel-forecast .box .temp .value {
  font-weight: 600;
}
.page-weather .panel-forecast .box .temp .separator {
  margin: 0 3px;
  opacity: 0.4;
}
.page-weather .panel-forecast .box .temp .degree {
  margin-left: 2px;
  font-size: 0.8rem;
  line-height: 2.5rem;
  font-weight: 300;
  vertical-align: top;
}

.page-map .bg {
  background-image: url("http://ultraimg.com/images/9u0jRT1.jpg");
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
.page-map .overlay {
  background-color: rgba(0, 181, 255, 0.25);
}
.page-map .title {
  position: absolute;
  width: 90%;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 2.5rem;
  line-height: 3.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-family: "Open Sans";
  font-weight: 400;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}
.page-map .map {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 90%;
  height: 80%;
  margin: auto auto;
  margin-top: 10%;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.page-tasks .bg {
  background-image: url("http://ultraimg.com/images/gAbeciZ.jpg");
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}
.page-tasks .overlay {
  background-color: rgba(0, 153, 50, 0.3);
}
.page-tasks .wrapper {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 760px;
  height: 440px;
  overflow: hidden;
}
.page-tasks .panel-tasklist {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin: 0 1%;
  background-color: rgba(0, 0, 0, 0.4);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.page-tasks .panel-tasklist .header {
  text-align: center;
}
.page-tasks .panel-tasklist .header .title {
  font-size: 1.2rem;
  line-height: 2.0rem;
  background-color: rgba(0, 255, 84, 0.7);
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0 0;
}
.page-tasks .panel-tasklist .newItem {
  padding: 15px 15px 0px 15px;
  height: 35px;
}
.page-tasks .panel-tasklist .newItem .text {
  cursor: pointer;
}
.page-tasks .panel-tasklist .newItem .text .title {
  display: inline-block;
  color: #cccccc;
  font-size: 0.9rem;
}
.page-tasks .panel-tasklist .newItem .text i {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  text-align: center;
  color: #cccccc;
  line-height: 20px;
  vertical-align: middle;
}
.page-tasks .panel-tasklist .newItem input {
  display: none;
  width: 100%;
  padding: 2px 6px;
  background-color: #006622;
  border: 1px solid #009932;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: "Open Sans";
  color: White;
}
.page-tasks .panel-tasklist ul {
  height: 370px;
  padding: 10px 10px;
  overflow: auto;
}
.page-tasks .panel-tasklist ul::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
.page-tasks .panel-tasklist ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #009932;
  border: 1px solid #006622;
}
.page-tasks .panel-tasklist ul::-webkit-scrollbar-corner {
  background: #009932;
  display: none;
  opacity: 0;
}
.page-tasks .panel-tasklist ul li {
  padding: 0;
  margin: 8px 0px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.page-tasks .panel-tasklist ul li .check, .page-tasks .panel-tasklist ul li .title, .page-tasks .panel-tasklist ul li .plus {
  display: inline-block;
  font-size: 1.0rem;
  line-height: 20px;
  vertical-align: top;
}
.page-tasks .panel-tasklist ul li .check {
  position: relative;
  margin: 0px 0px 0px 2px;
  width: 20px;
  height: 20px;
  border: 2px solid #00ff54;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.page-tasks .panel-tasklist ul li .title {
  width: 170px;
  padding: 2px 6px;
}
.page-tasks .panel-tasklist ul li.checked .check:after {
  content: '\f00c';
  position: absolute;
  font-family: FontAwesome;
  font-size: 0.9rem;
  top: -2px;
  left: 1px;
}
.page-tasks .panel-tasklist ul li.checked .title {
  font-style: italic;
  text-decoration: line-through;
  color: #b3b3b3;
}
.page-tasks .panel-tasklist ul li .plus {
  width: 20px;
  height: 20px;
}
.page-tasks .panel-tasklist.right {
  left: auto;
  right: 20px;
}

.page-calendar .bg {
  background: transparent;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}
.page-calendar .overlay {
  background-color: rgba(0, 233, 233, 0.2);
}
.page-calendar .panel-calendar {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 360px;
  height: 440px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.55);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.page-calendar .panel-calendar .header {
  text-align: center;
}
.page-calendar .panel-calendar .header .title {
  font-size: 1.5rem;
  line-height: 2.0rem;
  background-color: rgba(0, 233, 233, 0.8);
}
.page-calendar .panel-calendar .header .date {
  font-size: 1.0rem;
  line-height: 1.5rem;
  background-color: rgba(0, 233, 233, 0.6);
}
.page-calendar .panel-calendar ul {
  height: 380px;
  overflow: auto;
  padding: 10px 15px 10px 10px;
}
.page-calendar .panel-calendar ul::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
.page-calendar .panel-calendar ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #00b6b6;
  border: 1px solid #008383;
}
.page-calendar .panel-calendar ul::-webkit-scrollbar-corner {
  background: #00b6b6;
  display: none;
  opacity: 0;
}
.page-calendar .panel-calendar ul li {
  padding: 8px 0px;
  border-bottom: 1px solid rgba(0, 233, 233, 0.3);
}
.page-calendar .panel-calendar ul li .time, .page-calendar .panel-calendar ul li .title {
  display: inline-block;
  font-size: 0.9rem;
  line-height: 1.0rem;
  padding: 2px 6px;
}
.page-calendar .panel-calendar ul li .time {
  width: 100px;
  text-align: center;
  font-weight: 300;
  vertical-align: top;
}
.page-calendar .panel-calendar ul li .title {
  width: 220px;
  vertical-align: top;
}
.page-calendar .panel-calendar.right {
  left: auto;
  right: 20px;
}

.page-news .bg {
  background-image: url("http://ultraimg.com/images/NRcVB9W.jpg");
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}
.page-news .overlay {
  background-color: rgba(0, 181, 255, 0.2);
}
.page-news .panel-newslist-big {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 380px;
  height: 460px;
  background-color: rgba(0, 0, 0, 0.7);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
}
.page-news .panel-newslist-big ul {
  white-space: nowrap;
  overflow: hidden;
}
.page-news .panel-newslist-big li {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  margin-right: 10px;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}
.page-news .panel-newslist-big li .image {
  position: relative;
  width: 360px;
  height: 200px;
  background-size: cover;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
  font-size: 0.8rem;
}
.page-news .panel-newslist-big li .image .source {
  position: absolute;
  padding: 4px 8px;
  background-color: rgba(0, 181, 255, 0.8);
  font-weight: 400;
}
.page-news .panel-newslist-big li .image .time {
  position: absolute;
  padding: 4px 8px;
  background-color: rgba(0, 181, 255, 0.8);
  bottom: 0px;
  left: 0px;
}
.page-news .panel-newslist-big li .title {
  font-size: 1.6rem;
  line-height: 1.8rem;
  margin: 6px 0px;
}
.page-news .panel-newslist-big li .description {
  margin-top: 10px;
  font-size: 1.0rem;
  line-height: 1.1rem;
  font-weight: 400;
}
.page-news .panel-newslist-small {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 380px;
  height: 460px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
}
.page-news .panel-newslist-small::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
.page-news .panel-newslist-small::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #0091cc;
  border: 1px solid #006d99;
}
.page-news .panel-newslist-small::-webkit-scrollbar-corner {
  background: #0091cc;
  display: none;
  opacity: 0;
}
.page-news .panel-newslist-small li {
  border-bottom: 1px solid #1a1a1a;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}
.page-news .panel-newslist-small li .source {
  padding: 4px 0px;
  color: #b3b3b3;
  font-size: 0.8rem;
  font-weight: 400;
}
.page-news .panel-newslist-small li .image {
  float: right;
  width: 100px;
  height: 80px;
  margin-left: 10px;
  background-size: cover;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 10px;
}
.page-news .panel-newslist-small li .title {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 700;
  margin: 6px 0px;
  color: #66d3ff;
}
.page-news .panel-newslist-small li .description {
  margin: 10px 0px;
  font-size: 1.0rem;
  line-height: 1.2rem;
  font-weight: 400;
}
.page-news .panel-newslist-small li .time {
  padding: 4px 0px;
  color: #b3b3b3;
  font-size: 0.6rem;
  font-weight: 300;
}*/
.dataTable{
    -webkit-box-shadow: 0 3px 10px #ccc;
    -moz-box-shadow: 0 3px 10px #ccc;
    -o-box-shadow: 0 3px 10px #ccc;
    box-shadow: 0 3px 10px #ccc;
}
.dataTables_length label {
  float: left;
  text-align: left;
}
.dataTables_length select {
  width: 75px;
}

.dataTables_filter label {
  float: right;
}

.dataTables_info {
  padding-top: 26px;
}

.dataTables_paginate {
  float: right;
  margin: 0;
}

table.table {
  clear: both;
  margin-bottom: 6px !important;
  max-width: none !important;
}
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
}
table.table thead .sorting {
  background: url("../images/sort_both.png") no-repeat center right;
}
table.table thead .sorting_asc {
  background: url("../images/sort_asc.png") no-repeat center right;
}
table.table thead .sorting_desc {
  background: url("../images/sort_desc.png") no-repeat center right;
}
table.table thead .sorting_asc_disabled {
  background: url("../images/sort_asc_disabled.png") no-repeat center right;
}
table.table thead .sorting_desc_disabled {
  background: url("../images/sort_desc_disabled.png") no-repeat center right;
}
table.dataTable th:active {
  outline: none;
}

/* Scrolling */
.dataTables_scrollHead table {
  margin-bottom: 0 !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.dataTables_scrollHead table thead tr:last-child th:first-child, .dataTables_scrollHead table thead tr:last-child td:first-child {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.dataTables_scrollBody table {
  border-top: none;
  margin-bottom: 0 !important;
}
.dataTables_scrollBody table tbody tr:first-child th, .dataTables_scrollBody table tbody tr:first-child td {
  border-top: none;
}

.dataTables_scrollFoot table {
  border-top: none;
}

/*
 * TableTools styles
 */
.table tbody tr.active td, .table tbody tr.active th {
  background-color: #08C;
  color: white;
}
.table tbody tr.active:hover td, .table tbody tr.active:hover th {
  background-color: #0075b0 !important;
}

.table-striped tbody tr.active:nth-child(odd) td, .table-striped tbody tr.active:nth-child(odd) th {
  background-color: #017ebc;
}

table.DTTT_selectable tbody tr {
  cursor: pointer;
  *cursor: hand;
}

.DTTT .btn {
  color: #333 !important;
  font-size: 12px;
}
.DTTT .btn:hover {
  text-decoration: none !important;
}

ul.DTTT_dropdown.dropdown-menu li:hover a {
  background-color: #0088cc;
  color: white !important;
}

/* TableTools information display */
.DTTT_print_info.modal {
  height: 150px;
  margin-top: -75px;
  text-align: center;
}
.DTTT_print_info h6 {
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  margin: 1em;
}
.DTTT_print_info p {
  font-size: 14px;
  line-height: 20px;
}

/*
 * FixedColumns styles
 */
div.DTFC_LeftHeadWrapper table,
div.DTFC_LeftFootWrapper table,
table.DTFC_Cloned tr.even {
  background-color: white;
}

div.DTFC_LeftHeadWrapper table {
  margin-bottom: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

div.DTFC_LeftBodyWrapper table {
  border-top: none;
  margin-bottom: 0 !important;
}

div.DTFC_LeftBodyWrapper tbody tr:first-child th,
div.DTFC_LeftBodyWrapper tbody tr:first-child td {
  border-top: none;
}

div.DTFC_LeftFootWrapper table {
  border-top: none;
}
.dataTable thead tr:first-child{
    background: #EEE;
    font-size: 15px;
    font-weight: bold;
    color: green;
    transition: all .5s ease-in-out;
}
.dataTable tr:hover{
    background: #EEE;
}
.dataTable td{
    cursor: pointer;
}
.dataTable tr td:first-child{
        background: #EEE;
            font-weight: bold;
            color: blue;
           

}
